/* Variaveis*/

    :root {
        --Cor-background-escuro: #151515;
        --Cor-background: #181818;

        --Cor-destaque: #8b0000;
    }

/* Variaveis*/

/* TOPO DA PÁGINA */

    /* Div total do topo da página */
    #header{
        display: flex;
        width: 100%;
        justify-content: center;
        background-color: var(--Cor-background-escuro);
        border: 0px;
        border-bottom: 5px;
        border-color: var(--Cor-destaque);
        border-style: solid;
    }
    /* Div com os botões principais */
    #header-btns{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 35%;
        margin-left: auto;

        /* Botões principais */
        p{
            font-weight: bolder;
            font-size: xx-large;
            color: white;
            margin-left: 40px;
            margin-right: 40px;
            /* text-decoration: underline; */
        }
        p:hover{
            cursor: pointer;
            transition: 0.2s;
            scale: 1.2;
        }
    }
    /* Logo principal do site */
    #logo{
        margin: 7.5px;

        max-width: 125px;
        max-height: 125px;
        border-radius: 15px;
    }

/* TOPO DA PÁGINA */


/* CONTEÚDO PRINCIPAL */

    #btn-novaFicha{
        margin: 0;
    }

/* CONTEÚDO PRINCIPAL */


/* Nada Aqui */

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html, body{
        height: 100%;
    }
    body{
        display: grid;
        grid-template-rows: 149px 1fr 100px;
    }

/* Nada Aqui */