/* Barra de navegação */
#navBar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(145, 5, 5);
    max-height: 500px;
    border-radius: 10px;
}
.navBar-option{
    font-weight: 900;
    font-size: 27.5px;
    margin: 10px;
    margin-left: 110px;
    margin-right: 110px;
    text-decoration: underline;
    text-decoration-color: rgb(255, 255, 255);
    color: rgb(255, 197, 122);
}
.navBar-option:hover{
    cursor: pointer;
    transition-duration: 0.2s;
    scale: 1.2;
}
#navBar-img{
    max-height:80px;
    max-width: 80px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
}
header{
    display: flex;
    flex-direction: column;
}
#header-p{
    display: flex;
}
#header-h1{
    display: flex;
}



/*Display de fichas*/
.ficha{
    display: flex;
    border-style: solid;
    background-color: white;
    text-align: center;
    width: fit-content;
}
.ficha:hover{
    cursor: pointer;
    transition-duration: 0.2s;
    scale: 1.1;
}

.ficha-texto{
    display: flex;
    justify-content: center;
    align-items: center;
    
    P{
        margin-left: 20px;
        margin-right: 20px;
        font-size: 20px;
    }
}
.ficha-barra{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin: 10px;
    width: 300px;
}
.ficha-barra-texto{
    font-weight: 600;
    
}
.ficha-status{
    display: flex;
    flex-direction: column;
}
.progresso {
    height: 20px;
    border: 1px solid #000;
    text-align: center;
    height: 20px;
    padding-top: 5px;
    border-radius: 10px;

    background: linear-gradient(
        to right,
        var(--color) var(--fill),
        #ddd var(--fill)
    );
}

/* Ficha grande */
.fichaGrande{
    display: flex;
    flex-direction: row;
}
.fichaGrande-texto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 50px;
    
    h1{
        margin-right: 40px;
    }
}
.fichaGrande-status{
    display: flex;
    flex-direction: column;
    
}
.fichaGrande-barra{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    
}
.fichaGrande-img{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
#fichaGrande-foto{
    width: 250px;
    height: 250px;
}
#fichaGrande-atributos{
    width: 250px;
    height: 250px;
}



/* Área de fichas */
#div-fichas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


/*display section*/
.tela{
    display: none;
}
.ativa{
    display: block;
}

/* Cor de back */
body{
    background-color: rgb(255, 222, 179);
}

